*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial;

}

body{

background:#101418;

color:white;

}

.dashboard{

padding:25px;

display:grid;

grid-template-columns:2fr 1fr;

gap:20px;

}

.card{

background:#1d242b;

border-radius:12px;

padding:20px;

box-shadow:0 0 15px rgba(0,0,0,.25);

}

button{

padding:10px 20px;

border:none;

border-radius:8px;

background:#00b894;

color:white;

cursor:pointer;

font-size:15px;

}

button:hover{

background:#00a383;

}